.image {
  aspect-ratio: 5 / 7;
  overflow: hidden;
  border-radius: 1em;
}

.gradient {
  background: rgb(0,0,0);
  background: var(--light-gradient);
  background-size: cover;
}

img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
  z-index: -1;
  position: relative;
  aspect-ratio: 9 / 16;
}

/* --- content styling --- */
.content {
  margin-top: 1em;
}

/* --- Dark Mode --- */

@media (prefers-color-scheme: dark) {

  .recipe-title {
    color: var(--dark-main);
  }

  .gradient {
    background: var(--dark-gradient);
  }


}
