.row {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  overflow-x: auto;
  width: 105vw;
}

.row::-webkit-scrollbar {
  display: none;
}

h2, .row {
  margin-left: 7.5%;
}

app-teaser-item {
  width: fit-content;
  min-width: 14em;
  flex: 1;
}

/* --- Media Queries --- */

@media screen and (min-width: 515px) {

}

@media screen and (min-width: 1350px) {

  .row {
    width: 100%;
  }

  h2, .row {
    margin-left: 0;
  }

}
