.filters {
  border-bottom: 1px solid var(--light-accent);
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  width: 85%;
  margin: 0 auto;
  margin-top: 3em;
}

.input {
  width: 80%;
}

.search-icon {
  width: 1.5em;
  height: auto;
  margin-right: 1em;
}

#search, #search:focus {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: var(--light-main);
  outline: none;
  width: 45%;
}

#search::placeholder {
  color: var(--light-main);
}

select {
  outline: none;
  background-color: transparent;
  padding: 10px;
  border: none;
  color: var(--light-main);
  margin-right: 3em;
}

select option {
  background-color: var(--light-bg);
  color: var(--light-main);
}

/* --- Hide on small screens, to be displayed when hitting button --- */
#filter, #sort {
  display: none;
}

.button {
  background-color: var(--light-accent);
  padding: 10px;
  width: 20em;
  border: none;
  border-radius: 0;
}

.button:hover {
  cursor: pointer;
}

/* --- Media Queries --- */
@media screen and (min-width: 650px) {

  #search, #search:focus {
    width: 35%;
  }

  #filter, #sort {
    display: inline;
  }

}

@media screen and (min-width: 1130px) {

  #search, #search:focus {
    width: 45%;
  }

}

/* --- Dark Mode --- */

@media (prefers-color-scheme: dark) {

  #search, #search:focus {
    color: var(--dark-main);
  }

  #search::placeholder {
    color: var(--dark-main);
  }


  select {
    background-color: transparent;
    color: var(--dark-main);
  }

  select option {
    background-color: var(--dark-bg);
    color: var(--dark-main);
  }

}
