.filters {
  border-bottom: 1px solid var(--light-accent);
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  width: 85%;
  margin: 0 auto;
  margin-top: 3em;
}

.input {
  width: 80%;
}

.search-icon {
  width: 1.5em;
  height: auto;
  margin-right: 1em;
}

#search, #search:focus {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: var(--light-main);
  outline: none;
  width: 45%;
}

#search::placeholder {
  color: var(--light-main);
}

select {
  background-color: transparent;
  padding: 10px;
  border: none;
  color: var(--light-main);
  margin-right: 3em;
}

.button {
  background-color: var(--light-accent);
  padding: 10px;
  width: 20em;
  border: none;
  border-radius: 0;
}

.button:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {

  #search, #search:focus {
    color: var(--dark-main);
  }

  #search::placeholder {
    color: var(--dark-main);
  }


  select {
    background-color: transparent;
    color: var(--dark-main);
  }

}
