.teaser-item {
  aspect-ratio: 5 / 8;
  overflow: hidden;
  border-radius: 1em;
  position: relative;
}

.gradient {
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: var(--light-gradient);
  background-size: cover;
}

.teaser-img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
  z-index: -1;
  position: relative;
  border-radius: 1.1em;
  transform: scale(1);
  transition: transform 0.5s;
}

.teaser-item:hover img {
  transform: scale(1.2);
  transition: transform 0.5s;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1em;
}

/* --- Dark Mode --- */

@media (prefers-color-scheme: dark) {

  .gradient {
    background: var(--dark-gradient);
  }

}
